@tailwind base;
@tailwind components;
@tailwind utilities;

.react-pdf__Page {
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
}

.react-pdf__Page canvas {
    margin: 0 !important;
    display: block !important;
}